<!-- <div class="card" [style.width.rem]="width">
  <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" [alt]="product.title">
  <div class="card-body">
    <h4 class="card-title">{{product.title}}</h4>
    <p class="card-text"> {{product.price | currency:'INR':true}}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button *ngIf="!shoppingCart.itemsMap || shoppingCart?.getQty(product) === 0; else updateQty" (click)="addToCart()" class="btn btn-secondary btn-block">Add to Cart</button>
    <ng-template #updateQty>
      <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
    </ng-template>
  </div>
</div> -->

<div class="card" [style.width.rem]="width">
  <div class="card-body textWithBlurredBg">
    <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" [alt]="product.title">
    <h4 class="card-title">{{product.title}}</h4>
    <p class="card-text"> {{product.price | currency:'INR':true}}</p>
  </div>

 
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button *ngIf="!shoppingCart.itemsMap || shoppingCart?.getQty(product) === 0; else updateQty" (click)="addToCart()" class="btn btn-secondary btn-block">Add to Cart</button>
    <ng-template #updateQty>
      <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
    </ng-template>
  </div>
</div>