.card img {
    height: 200px;
}

.card {
    margin-bottom: 20px;
}
.card-footer button {
  cursor: pointer;
}

.card-footer {
  padding: 0;
  margin: 0;
  border : 0;
  margin-left: -1px;
}
.textWithBlurredBg{
  width:300px;
  height:300;
  display:inline-block;
  position:relative;
  transition:.3s;
  margin:4px;
}

.textWithBlurredBg img{
  width:100%;
  height:100%;
  transition:.3s;
  border-radius:4px;
}

.textWithBlurredBg:hover img{
  filter:blur(1px) brightness(60%);
  box-shadow:0 0 16px #7b15a7;
  transform:scale(1.05);
}
 
.textWithBlurredBg :not(img){
  position:absolute;
  z-index:1;
  top:30%;
  width:100%;
  text-align:center;
  color:#fff;
  opacity:0;
  transition:0.5s;
}

.textWithBlurredBg h4{
top:50%
}

.textWithBlurredBg:hover :not(img){
  opacity:1;
}
