/* #carouselExampleIndicators {
    background-image:linear-gradient(to bottom right, grey,black);
} */
#carouselExample {
    margin:auto;
    width:700px;
    height: 700px;
}
#browseText{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#browseText a {
    color:#8e44ad;  
}

.arrivalsHeader{
  color:#8e44ad;
  margin-top:80px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
.row img {
    border: 3px groove violet;
     width: 90%;
     height: 220px;
     transition: 0.3s;

}
.row img:hover {
    background-color: rebeccapurple;
    transform:scale(1.1); 
    filter: grayscale(40%);
}
.imgwrapper{
  width:24%;
  transition: 0.3s;
}
.imgwrapper:hover{
  background-color: pink;
}
.slider-img{
  display: flex;
  justify-content: center;
  width:25%;
}
.slider-img img {
  height:230px;
}
.row img:nth-child(1){
   margin-right:10px;
}
.row img:nth-child(n+2){
    margin-left: 10px;
    margin-right:10px;
}
.row img:last-child{
    margin-right: 0;
}
.footer {
    bottom:0;
    left:0; 
    width: 100%;
    border-top:5px solid black;
    border-top-left-radius:8%;
    border-top-right-radius: 8%;
    position: relative;
    background-color: #7B15A7;
    margin-top:100px;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }